@{ ViewData["Title"] = "dashbord"; }


<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>
    <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
         id="sidebar">

        <ul class="nav flex-column text-white w-100">
            <a href="/admin/dashbord" class="nav-link h3 text-white my-2">
                Donor
            </a>
            <li class="nav-link">
                <i class="bx bxs-dashboard"></i>
                <span class="mx-2"><a class="inner-anchor" href="/admin/dashbord"> Home</a></span>
            </li>

            <li class="nav-link">
                <i class="bx bx-git-pull-request"></i>
                <span class="mx-2"><a class="inner-anchor" href="/admin/accounts">Account</a></span>
            </li>


            <li class="nav-link">
                <i class="bx bx-edit"></i>
                <span class="mx-2"><a class="inner-anchor" href="/admin/editaccount"> Edit Account</a></span>
            </li>

            <li class="nav-link">
                <i class="bx bx-log-out"></i>
                <span class="mx-2"><a class="inner-anchor" href="/admin/logout"> Log Out </a></span>
            </li>
        </ul>

    </div>



    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont" style="background-color:lightblue">
        <!-- Top Nav -->
        <nav class="navbar top-navbar navbar-light bg-light px-5">
            <br />
        </nav>

        <br>
        <section class="h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Create Account  </h1>



                        <form action="/Admin/createaccount" method="POST">


                            <div class="mb-3">
                                <label for="Username">Username</label>
                                <input type="text" id="UserName" name="UserName" class="form-control" />

                            </div>
                            <div class="mb-3">
                                <label for="Password">Password</label>
                                <input type="password" id="Password" name="Password" class="form-control" />

                            </div>
                            <div class="mb-3">
                                <label for="Email">Email</label>
                                <input type="email" id="Email" name="Email" class="form-control" />

                            </div>


                            <div class="mb-3">
                                <label for="Role">Role</label>
                                <select type="text" id="Role" name="Role" class="form-control">
                                    <option value="nurse">Nurse </option>
                                    <option value="labtechnician">LabTechnician </option>
                                </select>

                            </div>





                            <div style="align-self:auto; margin-left: 130px;">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Create
                                </button>
                                <br><br>
                            </div>
                            <br />


                        </form>
                    </div>
                </div>
            </div>
        </section>
        <br>







    </div>



</body>
</html>
