@model List< Blooddonation.Models.Appointment>


@{
    ViewData["Title"] = "appointmentlist";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <link href="css/sidebar.css" rel="stylesheet">

</head>

<body>
    <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
         id="sidebar">

        <ul class="nav flex-column text-white w-100">
            <a href="/donor/dashbord" class="nav-link h3 text-white my-2">
                Donor
            </a>
            <li class="nav-link">
                <i class="bx bxs-dashboard"></i>
                <span class="mx-2"><a class="inner-anchor" href="/donor/dashbord"> Home</a></span>
            </li>

            <li class="nav-link">
                <i class="bx bx-git-pull-request"></i>
                <span class="mx-2"><a class="inner-anchor" href="/donor/appointmentlist">Appointment</a></span>
            </li>



            <li class="nav-link">
                <i class="bx bx-git-pull-request"></i>
                <span class="mx-2"><a class="inner-anchor" href="/donor/donationrequestlist"> Request</a></span>
            </li>



            <li class="nav-link">
                <i class="bx bx-edit"></i>
                <span class="mx-2"><a class="inner-anchor" href="/donor/editaccount"> Edit Account</a></span>
            </li>

            <li class="nav-link">
                <i class="bx bx-log-out"></i>
                <span class="mx-2"><a class="inner-anchor" href="/donor/logout"> Log Out </a></span>
            </li>
        </ul>

    </div>




    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont" style="background-color:lightblue">
        <!-- Top Nav -->
        <nav class="navbar top-navbar navbar-light bg-light px-5">
            <br />
        </nav>


        <br>

        <table class="styled-table">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>

                </tr>


            </thead>
            <tbody>


               
                    @foreach (var list in Model)
                    {
                <tr>
                    <td>@list.AppointmentDate </td>
                    <td>@list.Status</td>
                    <td><a href="/donor/cancelappointment/@list.AppointmentId"><button type="button" class="btn btn-primary btn-sm" style="background-color: green;">Cancel</button></a></td>
                </tr>
                    }

                @if (!Model.Any())
                {
                    <tr>
                        <td>No</td>
                        <td>Appointment</td>
                        <td></td>
                    </tr>
                }



            </tbody>
        </table>

        <br />
        <br />
    </div>

</body>
</html>